@font-face {
  font-family: "MaruBuri";
  src: url(/css/font/MaruBuriOTF/MaruBuri-Bold.otf) format("opentype"),
    url(/css/font/MaruBuriOTF/MaruBuri-ExtraLight.otf) format("opentype"),
    url(/css/font/MaruBuriOTF/MaruBuri-Light.otf) format("opentype"),
    url(/css/font/MaruBuriOTF/MaruBuri-Regular.otf) format("opentype"),
    url(/css/font/MaruBuriOTF/MaruBuri-SemiBold.otf) format("opentype");
}

.tab-container {
 
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  font-size: 0px;

  z-index: 99999999;
}
.tab-container input[type="radio"] {
  display: none;
  z-index: 99999999;
}
.tab-container label {
  display: inline-block;
  padding-left: 2em;
  padding-right: 2em;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  border: 1px solid #eee;
  font-weight: 700;

  
}
.tab-container label + input {
  border-left: none;

}
.tab-container input:checked + label {
  color: #fff;
  background: #0067ac;
  font-weight: 700;
}
.tab-container input:checked + label:first-child {
  border-left: 1px solid #eee;
}
.tab-container .tab-content {
  display: none;
  width: 100%;
  height: 200px;
  font-size: 15px;
  margin-top: 15px;
}
#tab1:checked ~ #tab-content1 {
  display: block;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
#tab2:checked ~ #tab-content2 {
  display: block;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
#tab3:checked ~ #tab-content3 {
  display: block;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
#tab4:checked ~ #tab-content4 {
  display: block;
  background-color: rgb(255, 255, 255);
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
#tab5:checked ~ #tab-content5 {
  display: block;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

* {
  margin: 3px;
  padding: 0px;
  font-size: 19px;
  font-family: "NanumSquareLight";
  font-family: "NanumSquare";
  font-family: "NanumSquareBold";
  font-family: "NanumSquareExtraBold";
  font-family: "NanumSquareAcb";
  font-family: "NanumSquareAceb";
  font-family: "NanumSquareAcl";
  font-family: "NanumSquareAcr";
}

.grid-container {

  display: grid;

  align-items: center;

  margin: 1%;
  grid-template-columns: minmax(100px, 1fr) minmax(100px, 0.7fr) minmax(
      100px,
      1fr
    );
  grid-template-rows: minmax(45px, 0.2fr) minmax(100px, 1fr) minmax(150px, 1fr);
  grid-gap: 10px;

}
.piechart {
  box-sizing: border-box;
  grid-column: 1/2;
  grid-row: 2/3;
  width: 350px;
  height: 350px;


}

.piechart2 {
  box-sizing: border-box;
  grid-column: 2/3;
  grid-row: 2/3;
  width: 350px;
  height: 350px;
  align-items: center;


}

.mychart1 {
  box-sizing: border-box;
  align-items: bottom;

  grid-column: 1/2;
  grid-row: 3/4;
  height: 350px;



}
.mychart2 {
  align-items: bottom;

  grid-column: 2/4;
  grid-row: 3/4;
  height: 350px;



 


}
