/* noto-sans-kr-regular - latin */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-kr-v26-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/noto-sans-kr-v26-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-kr-v26-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-kr-v26-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-kr-v26-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-kr-v26-latin-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}

body {

    font-family: 'Noto Sans KR', 'sans-serif';
    width: 100%;
    height: 100%;
    padding: 0px 30px 25px 30px;
    color:#13171f;

  }

  .arc text {

    text-anchor: middle;
  }
  
  .arc path {
    
  }
  

  path.slice{

      stroke-width: 2px;
      stroke-dasharray: 100;
      stroke-dashoffset: 100;

  }
  polyline{
      stroke-dasharray: 100 20;
      stroke-dashoffset: 100;
      opacity: .3;
      stroke: #0067ac;
      stroke-width: 2px;
      fill: none;
  } 
  svg text.percent{

      fill:#eee;
      text-anchor:right;
      font-size:12px;
  }



.tab-container {
 
    font-size: 0px; 
    z-index: 99999999;
    border-radius: 30px;
    
  }
  .tab-container input[type="radio"] {

    display: none;
    z-index: 99999999;

  }
  .tab-container label {
    display: inline-block;
    padding-left: 2em;
    padding-right: 2em;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #eee;
    font-weight: 700;
    background:white;
  
    
  }
  .tab-container label + input {
    border-left: none;
    background:white;
  
  }
  .tab-container input:checked + label {

    color: #fff;
    background: #5b8fff;
    font-weight: 700;

  }
    
  .tab-container input:hover + label:hover {
    border-left: 1px solid #eee;
    background-color:#5b8fff;
    color:white;
  }
  .tab-container input:checked + label:first-child {
    border-left: 1px solid #eee;
  }
  .tab-container .tab-content {

    display: none;
    width: 100%;
    height: 200px;
    font-size: 15px;
    margin-top: 15px;

  }
  #tab1:checked ~ #tab-content1 {

    display: block;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

  }
  #tab2:checked ~ #tab-content2 {

    display: block;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

  }
  #tab3:checked ~ #tab-content3 {

    display: block;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

  }
  #tab4:checked ~ #tab-content4 {

    display: block;
    background-color: rgb(255, 255, 255);
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

  }
  #tab5:checked ~ #tab-content5 {

    display: block;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

  }
  .axis .domain {
    display:block;
  }
  path.slice{
    stroke-width:2px;
  }
  polyline{

    opacity: .3;
    stroke: black;
    stroke-width: 2px;
    fill: none;

  } 
  svg text.percent{

    fill:white;
    text-anchor:middle;
    font-size:12px;

  }
  
  #groupedbar{

    width: 100%;
    height: 90%;
  }
  #stackedbar{

    width: 100%;
    height: 90%;

  }
  #donutpie{
    float: top;
    width: 90%;
    height: 90%;

  }

  #donutpie2{

    width: 100%;
    height: 90%;
    padding: 10px;

  }
  #fullpie{

    width: 100%;
    height: 90%;
    padding: 10px;

  }

  svg {
    width: 100%;
    height: 100%;
  }

  div#topchartContainor{
    background-color: white;
    border-radius: 8px;
  }

[class*="col-"] {
    background-clip: padding-box;
    border: 10px solid transparent;
}

.chartboard{

  background:white; height: 370px; border-radius:10px; margin:10px;

  box-shadow: rgba(0, 0, 0, 0.1);
}

.card-1 {
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#my_dataviz{

  margin-top:25px;
  width: 100%;
  height: 80%;
  padding:10px;

}
#my_dataviz2{

  margin-top:25px;
  width: 100%;
  height: 100%;
  padding:10px;

}

#fullpielegend{
  width: 300px;
  height: 300px;
}

.toolTip {
    font-family: 'Noto Sans KR';
    display:block;
    position: absolute;
    border: 0 none;
    border-radius: 4px 4px 4px 4px;
    background-color: rgb(239, 241, 235);
    padding: 5px;
    text-align: center;
    font-size: 15px;   
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}
.lines{
          opacity: .4;
          stroke: black;
          stroke-width: 2px;
          fill: none;
           stroke-dasharray: 3 10;
           stroke-linecap: round;

      }
  #linechart {

    width: 100%;
    height: 100%;
  }