@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap');

*{font-family:'Roboto' ,'Noto Sans KR', 'sans-serif'}
html,body{position:relative;width:100%;height:100%;-webkit-tap-highlight-color:transparent;overflow:hidden;}
body, div, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, a, button, select, ul, li, span, label, :before, :after, pre{margin:0;padding:0;box-sizing:border-box;line-height:inherit;-webkit-text-size-adjust:none;letter-spacing:-.3px;/*word-break:keep-all;*/}
input, textarea, a, button, select, span, label, :before, :after{font-size:inherit;font-weight:inherit;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section{display:block;margin:0;padding:0;box-sizing:border-box;}
strong{font-weight:700;}
img, fieldset{border:0}
fieldset{min-width:100%;}
img{max-width:100%;vertical-align:top;}
ul, ol{list-style:none}
em, address, i{font-style:normal}
a{text-decoration:none;}
a{color:inherit;}
button, input[type="submit"], input[type="button"]{overflow:visible;margin:0;background-color:transparent;border:none;-webkit-appearance:button;cursor:pointer;font:inherit;color:inherit;}
button::-moz-focus-inner, input::-moz-focus-inner{padding:0;border:0;}
input[type="text"], input[type="tel"], input[type="password"], input[type="file"], input[type="number"], input[type="email"], input[type="date"],
textarea{-webkit-box-shadow:none;box-shadow:none;appearance:none;-webkit-appearance:none;-webkit-tap-highlight-color:transparent;border:0;border-radius:0;-webkit-border-radius:0;font-family:'Noto Sans KR','HelveticaNeue-Regular',sans-serif;}
input::-webkit-input-placeholder{color:#bbb;}
input:-ms-input-placeholder{color:#bbb;}
textarea::-webkit-input-placeholder{color:#bbb;}
textarea:-ms-input-placeholder{color:#bbb;}

table{table-layout:fixed;max-width:none;width:auto;min-width:100%;}
legend, caption{overflow:hidden !important;width:1px !important;height:1px !important;margin:-1px !important;padding:0 !important;border:0 !important;clip:rect(0, 0, 0, 0) !important;clip-path:inset(50%);}

select{width:200px;height:30px;font-size:15px;padding:0 20px;appearance:none;border:1px solid #ccc;outline:none;background:#fff url(../css/images/ico_arr_bottom.png) 90% center no-repeat;background-size:13px auto;border-radius:5px;}

input[type=password]::-ms-reveal {display: none}
.hide{display:none !important;}
.show{display:block !important;}
input[type=text]::-ms-clear, input[type=tel]::-ms-clear{display:none;}